.card-list {
  width: 81vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

/* .card {
  box-shadow: 0px 1px 5px 0px;
  border: 1px solid rgba(0, 0, 0, 0.192);
  margin: 3rem;
  padding: 3rem;
  background: #628f92;
  border-radius: 9px;
  text-align: center;
} */
